@use "../abstracts" as abs;

.card {
  box-shadow: 1px 1px 10px 1px rgb(163, 163, 163);
  width: 12rem;
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1rem;
  position: relative;
  &:hover {
    transform: scale(1.05);
  }
  .ling {
    width: 100%;
    height: 55%;
    left: 0;
    top: 0;
    position: absolute;
  }
  .con-img {
    display: flex;
    justify-content: center;
    img {
      width: 200px;
      height: 160px;
      object-fit: contain;
    }
  }
  .topic {
    font-weight: bold;
    height: 2rem;
    display: flex;
    align-items: center;
  }
  .pice {
    display: flex;
    align-items: center;
    height: 1.5rem;
    justify-content: space-between;
    margin: 1rem 1rem;
  }
  .btn {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;

    button {
      height: 2rem;
      border: 0px;
      font-weight: bold;
      box-shadow: 1px 1px 10px 1px rgb(163, 163, 163);
      margin: .5rem 0;
    }
    .add-cart {
      @include abs.btn-add;
    }
    .buy {
      @include abs.btn-buy;
    }
  }
}
