@use '../abstracts' as abs;

.card {
        box-shadow: 1px 1px 10px 1px rgb(163, 163, 163);
        width: 12rem;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem;
        position: relative;
        &:hover{
          transform: scale(1.05);
        }
        .img{
          // background: #000;
          width: 100%;
          height: 55%;
          left: 0;
          top:0;
          position: absolute;
        }

        img {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: center;
        }
        .topic {
          font-weight: bold;
          height: 2rem;
          display: flex;
          align-items: center;
        }
        .pice {
          display: flex;
          align-items: center;
          height: 1.5rem;
          justify-content: space-between;
          margin: 1rem 1rem;
          .num{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;

            // .increase{
            //   @include abs.btn-increase;
            // }
            // .decrease{
            //   @include abs.btn-decrease;
            // }

          }
        
        }
        .btn {
          //   background-color: aquamarine;
          padding: 0 1.5rem;
          display: flex;
          justify-content: space-between;

          button {
            height: 2rem;
            border: 0px;
            font-weight: bold;
            box-shadow: 1px 1px 10px 1px rgb(163, 163, 163);
          }
          .add-cart {
            // background: abs.$color-base-2;
            // color: abs.$color-base-1;
            @include abs.btn-add;
          }
          .buy {
            @include abs.btn-buy;
          }
        }
      }