@import url('https://fonts.googleapis.com/css2?family=Lora&family=Montserrat&display=swap');
$font-1: 1rem;
$font-2: 2rem;
$font-3: 2.5rem;
$font-4: 3rem;
$font-5: 4rem;
$font-6: 8rem;


$fonts-family-1 :'Montserrat', sans-serif;