@use '../../abstracts/' as abs;
.login{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: 1000px;
    background-image: url(/src/assets/img/bg-login.png);
    background-position: center;
    background-size: cover;
    font-size: 1.5rem;
 

    form{
        font-weight: bold;
        padding: 0 3rem;
        .con-name{
            // background: #000;
            width: 100%;
            display: flex;
            justify-content: space-between;
           
        }
        h1{
            width: 100%;
            height: 4rem;
            display: flex;
            // align-items: center;
            justify-content: center;
            border-bottom: 2px solid rgba(#000000,.4);
            text-align: center;
            font-size: abs.$font-3;
            margin-bottom: 2rem;
        }
  
        .grid-container{
            display: flex;
            flex-direction: column;
            width:100%;
            gap: 1rem;
            input{
                height: 2rem;
            }
        }
        .con-regis{
            display: flex;
            justify-content: space-between;
            font-size: .8rem;
            a{
                cursor: pointer;
                &:hover{
                    transform: scale(1.01);
                }
            }
        }
        .btn {
            margin-top: 2rem;
            width: 100% ;
            text-align: center;
             .submit{
            width: 100%;
            background: #000;
            cursor: pointer;
            border:none;
            font-weight: bold;
            background-color: abs.$color-base-3;
            color: #FFFFFF;
            // width: 30%;
            height: 2.5rem;
            font-size: 1.5rem;
            transition: .1s ease;
            &:hover{
                transition: .1s ease;
                transform: scale(1.1);
            }
        }
        }
       
    }
}