@use "../abstracts" as abs;
.home {
  height: 100vh;
  max-height: 800px;

  .container {
    flex-direction: column;
    justify-content: start;
    // background-color: aquamarine;
  }

  .background {
    height: 550px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img {
      height: 100%;
      width: 100vw;
      background: url(/src/assets/img/bg-1.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    h1 {
        font-weight: bold;
        font-size: abs.$font-6;
        color: abs.$color-base-1;
        margin-top: 5rem;
        position: absolute;
        top: 3rem;
      }
      .btn-product{
        @include abs.btn-home;
      }
  }
  .top {
    padding-top: 3rem;
    max-height: 250px;
    width: 100%;
    display: flex;
    // background: #ddd;
    h1 {

      width: 6rem;
      font-weight: bold;
      font-size: abs.$font-2;
      // margin-right: 1rem;
    }
    .card-con {
      h1 {
        font-size: abs.$font-4;
      }
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
