@use "../abstracts" as abs;
.home {
  height: 100vh;
  max-height: 850px;

  .container {
    flex-direction: column;
  }

  .background {

    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .img {
      height: 100%;
      width: 100vw;
      background: url(/src/assets/img/bg-1.png);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    h1 {
        font-weight: bold;
        font-size: abs.$font-6;
        color: abs.$color-base-1;
        margin-top: 5rem;
        position: absolute;
        top: 3rem;
      }
      button {
        @include abs.btn-home;
      }
  }
  .top {
    // background: #000;
    padding: 2rem 0;
    max-height: 40vh;
    width: 100%;
    display: flex;
    h1 {
      font-weight: bold;
      font-size: abs.$font-2;
    }
    .card-con {
      h1 {
        font-size: abs.$font-4;
      }
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
