@use '../../../abstracts/' as abs;
.top-card{
    // margin-top: 1rem;
    width: 15rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // background-color: antiquewhite;
    .img-con{
        display: flex;
        justify-content: center;
        height: 60%;
        margin-bottom: 2rem;
        img{
            box-shadow: 1px 1px 10px 1px rgb(163, 163, 163);
            height: auto;
            width: auto;
            object-fit: contain;
        }
    }
    p{
        font-weight: bold;
        font-size: abs.$font-1;
        margin-bottom: 1rem;
    }
}