@use './bsae/reset';


@use './layouts/container';
@use './layouts/navba';

//pages
@use './pages/home';
@use './pages/products';
@use './pages/product_detail';
@use './pages/cart';

@use './component/card';
@use './component/listProduct';